extends layout

block style   
  link(rel='stylesheet', href='/app.css')
  
block content
  div.container
    h1.center-align Credits
    ul.credits
      li
        img(src='/images/logo-credit.png')
      li
        img(src='/images/belt-credit.png')
      li
        img(src='/images/classmate-credit.png')
      li
        img(src='/images/enemy-credit.png')                


    
