extends layout


block content
  div.container
    h1.center-align Dashboard Page
  div#dashboard-root
  script(src='/build/dashboard-app.js')
  link(rel='stylesheet', href='/build/dashboard-app.css')
