extends layout

block style   
  link(rel='stylesheet', href='/app.css')
  
block content
  div(style="background:url('/images/regex-dojo-hero.jpg') center 90% no-repeat;background-size:cover;height:100vh;max-height:750px;position:relative")
    div(style="position:absolute;bottom:10%;text-align:center;width:100%")
      h3.white-text(style="font-size:2em") Train, Spar and Fight your way to REGEX Mastery     
      a.btn.btn-large.waves-effect.waves-light.pink.accent-2(href="/signin") Sign In
