doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Learn REGEX.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")  
    title Regular Expressions Tutor         
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')  
    block style   
  body
    div.navbar-fixed
      nav.white(role="navigation")
        div.nav-wrapper.teal
          a#logo-container.brand-logo(href='/')
            img(src="/images/regex-dojo-logo.svg", style="width:100%;margin-top:8px")
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons.black-text menu
          ul.right.hide-on-med-and-down
            li
              a.black-text(href='/') Home          
            if (signout)
              li
                a.black-text(href='/signout') Sign Out
            else
              li
                a.black-text(href='/signin') Sign In    
    ul#nav-mobile.side-nav.grey.lighten-5
      li
        a.black-text(href='/') Home    
      if (signout)
        li
          a.black-text(href='/signout') Sign Out
      else
        li
          a.black-text(href='/signin') Sign In 
    block content   
  footer.page-footer.blue-grey.lighten-5
    div.container
      div.row
        div.col.l6.s12
          h5.black-text Links
          ul
            li
              a.black-text.text-lighten-3(href="/") Home
            li
              a.black-text.text-lighten-3(href="/credits") Credits
        div.col.l4.offset-l2.s12
          h5.black-text Connect
          ul
            li
              a.black-text.text-lighten-3(href="https://github.com/roxroy/regex-dojo") Github
    div.footer-copyright
      div.container.black-text © 2017 Copyright Text    
  script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
  script.
    $(document).ready(function(){
      $(".button-collapse").sideNav();      
    });
  block scripts