doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="Learn REGEX.")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")  
    title Regular Expressions Tutor
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')  
    link(rel='stylesheet', href='/app.css')
  body
    div.navbar-fixed
      nav.white(role="navigation")
        div.nav-wrapper
          a#logo-container.brand-logo(href='/')
            img(src="/images/regex-dojo-logo.svg", style="width:100%;margin-top:8px")
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons.black-text menu
          ul.right.hide-on-med-and-down
            li
              a.black-text(href='/') Home
            li
              a.black-text(href='/app/dojo') Dashboard
            li
              a.black-text(href='/about') About
            li
              a.black-text(href='/signin') Sign in
    ul#nav-mobile.side-nav
      li
        a.black-text(href='/') Home
      li
        a.black-text(href='/app/dojo') Dashboard
      li
        a.black-text(href='/about') About
      li
        a.black-text(href='/signin') Sign in       
    block content   
  <footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="#!">Home</a></li>
            <li><a class="black-text text-lighten-3" href="#!">About</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Connect</h5>
          <ul>
            <li><a class="black-text text-lighten-3" href="#!">Github</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Share Twitter</a></li>
            <li><a class="black-text text-lighten-3" href="#!">Share Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container black-text"> © 2017 Copyright Text
      </div>
    </div>
  </footer>     
  script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js')
  script.
    $(document).ready(function(){
      $(".button-collapse").sideNav();      
    });