doctype html
html(lang='en')
  head
    title Regular Expressions Tutor
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Mono')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css')

    link(rel='stylesheet', href='/app.css')
    script(src='/app.js')
  body
    nav.light-blue.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Logo
        ul.right.hide-on-med-and-down
          li
            a(href='/') Home
          li
            a(href='/train') Train
          li
            a(href='/dashboard') Dashboard
          li
            a(href='/about') About
          li
            a(href='/signin') Sign in
        ul#nav-mobile.side-nav
          li
            a(href='#') Navbar Link
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    block content