extends layout

block style   
  link(rel='stylesheet', href='/app.css')
  
block content
  div.container
    h1.center-align Sign-in
    .row.center
        a.btn-large.waves-effect.waves-light.orange(href='/auth/github')
          i.material-icons.left perm_identity
          | Sign in with GitHub
