.app-container {
  margin: 20px auto;
}

.scroll {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  
}

.scroll-body {
  max-height: 6000px;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  transition: max-height 1.5s ease;
  padding: 40px 20px; 
  background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0),
      linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0),
      linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
      background-size: 25px 25px;  
}


.scroll-train {
  background-color: #eee;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), 
  linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
  background-size:60px 60px;
}

.scroll-fight {
  background: #80cbc4;
}

.scroll-folded {
  height: 0;
  max-height: 0;
  padding: 0;
}

.level > .card-image > img {
  height: 250px;
}

.level > .card-action {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.level > .card-action > a {  
  padding: 0 1rem;
}

.level > .card-action > a:nth-child(2) {  
  margin: 0 5px;
}

.profile > .card-stacked > .card-content > dl {
  margin: 0 auto;
}

.profile > .card-stacked > .card-content > dl > dt {
  font-weight: bold;
}

.profile > .card-stacked > .card-content > dl > dd {
  margin: 0
}

.profile > .card-stacked > .card-content > dl > dd > img {
  max-width: 100px;
}

.spar > .spar-title > h3 {
  text-transform: uppercase;
}

.spar > .spar-title > h3, .spar > .spar-title > p {
  margin: 0;
  font-weight: bold;
}

.question {
  font-weight: bold;
}

.answer-container > .col {
  margin-top: 16px;  
}

.answer-container > .col > button {
  text-transform: none;
  width: 80px;
}

.player {
  box-shadow: none;
  background: transparent;
}

.player > .card-image > img {
  width: 50%;
  margin: 0 auto;
}

.player > .card-content {
  padding: 10px 24px;
}

.player > .card-action.health {
  border-radius: 50px;
  border: 3px solid black;
  position: relative;
}

.player > .card-action.health:after {
    content: '\A';
    position: absolute;
    border-radius: 50px 0 0 50px;
    background: red;
    top: 0;
    bottom: 0;
    left: 0;    
    transition: width .5s;
}

.player > .card-action.health-100:after {
    border-radius: 50px;
    width: 100%;
}

.player > .card-action.health-90:after {
    width: 90%;
}

.player > .card-action.health-80:after {
    width: 80%;
}

.player > .card-action.health-70:after {
    width: 70%;
}

.player > .card-action.health-60:after {
    width:60%;
}

.player > .card-action.health-50:after {
    width: 50%;
}

.player > .card-action.health-40:after {
    width: 40%;
}

.player > .card-action.health-30:after {
    width: 30%;
}

.player > .card-action.health-20:after {
    width: 20%;
}

.player > .card-action.health-10:after {
    width: 10%;
}

.player > .card-action.health-0:after {
    border-radius: 50px;
    width: 0;
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 0.8rem;
  }
}